:root {
  --sentiment-good-bg: hsl(147, 99%, 69%);
  --sentiment-neutral-bg: hsl(46, 99%, 69%);
  --sentiment-bad-bg: hsl(6, 100%, 92%);
  --sentiment-good-text: hsl(149, 100%, 6%);
  --sentiment-neutral-text: hsl(49, 100%, 26%);
  --sentiment-bad-text: hsl(358, 100%, 13%);
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 5px #333;
}
.leaflet-interactive {
  stroke-width: 1px;
}

.sentiment-marker {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1rem;
  
}

.sentiment-marker.big {
  width: 20px;
  height: 20px;
}
.bad,
.bad .leaflet-popup-tip
{
  background-color: var(--sentiment-bad-bg);
  color: var(--sentiment-bad-text);
  border: 2px var(--sentiment-bad-text) solid;
}
.bad + .sentiment-marker-text {
  color: var(--sentiment-bad-text);
}

.neutral, 
.neutral .leaflet-popup-tip
{
  background-color: var(--sentiment-neutral-bg);
  color: var(--sentiment-neutral-text);
  border: 2px var(--sentiment-neutral-text) solid;
}
.neutral + .sentiment-marker-text {
  color: var(--sentiment-neutral-text);
}

.good,
.good .leaflet-popup-tip
{
  background-color: var(--sentiment-good-bg);
  color: var(--sentiment-good-text);
  border: 2px var(--sentiment-good-text) solid;
}
.good + .sentiment-marker-text {
  color: var(--sentiment-good-text);
}

.sentiment-marker + .sentiment-marker-text {
  font-size: .8rem;
  margin-left: 1rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.404);
}

.modal {
  position: relative;
  width: 90%;
  max-width: 600px;
  min-height: 200px;
  max-height: 500px;
  background-color: #eee;
  border-radius: 10px;
  padding: 1rem;
  animation: scale-up ease-in-out 0.5s 1;
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.title h2 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.title-sentiment {
  position: relative;
  right: 1rem;
}

@media screen and (max-width: 500px) {
  .title h2 {
    font-size: 1.2rem
  }
}


.tweets {
  overflow-y: scroll;
  height: 200px;
  box-shadow: inset 0 0 5px #333;
}

.tweet {
  padding: 1rem;
  font-size: .9rem;
  box-shadow: 0 0 3px #333;
  margin: 1rem;
}

.tweet span {
  color: #70b9f5;
  cursor: pointer
}

.tweet span:hover {
  color: hsl(207, 87%, 60%)
}

.tweet-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.tweet-title > div {
  display: flex;
  align-items: center;
}
.profile-image {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-image img {
  width: 100%;
  height: 100%;
}
.date { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  color: #aaa;
}

.date span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaflet-popup.tooltip {
  cursor: pointer;
  border-radius: 12px;
}

.bad .leaflet-popup-content-wrapper,
.neutral .leaflet-popup-content-wrapper,
.good .leaflet-popup-content-wrapper
 {
  background-color: inherit;
  color: inherit;
}



@keyframes scale-up {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}