.map-wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

#map {
  padding: 1rem;
  height: 500px;
  width: 90%;
  max-width: 900px;
  display: block;
  margin: auto;
  box-shadow: 0 0 3px #333;
  border-radius: 1rem;
  overflow: hidden;
}

.Country {
  fill: #b8b8b8
}

#map .Country:hover {
  fill: #00ffd52d !important;
}

.circle {
  stroke: #333;
}

svg .text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: black;
  stroke-width: 0;
}